{% extends 'base.html' %}
{% load staticfiles %}

{% block left_content %}
    <div>
        <div>{{ article.date_publish }}</div>
        <div>{{ article.date_publish }}</div>
    </div>

    <div class="titel">
        <h2><a href="" rel="bookmark" title="{{ article.title }}">{{ article.title }}</a> </h2>
        <div class="postmeta">
            <span class="postmeta_author">{{ article.user.username }}</span>
            <span class="postmeta_category"><a href="" rel="category"><{{ article.category.name }}</a></span>
            <span class="postmeta_time">{{ article.date_publish }}</span>
        </div>
    </div>

    <hr />
    <div class="article">
        <div>
            <textarea>{{ article.content }}</textarea>
        </div>
    </div>

    <hr />
    <div class="comments">
        <h3>Comment: </h3>
        <div>
            {% for comment in comment_list %}
            <br/>
                {{ comment.content }}
            <hr/>
            {% endfor %}
        </div>
    </div>

    <div>
        
    </div>
{% endblock %}