{% extends 'base.html' %}
{% load staticfiles %}
{% block left_content %}
    {% include 'ad.html' %}

    <div class="topnews">
      <h2><span><a href="/" target="_blank">栏目标题</a><a href="/" target="_blank">栏目标题</a><a href="/" target="_blank">栏目标题</a></span><b>文章</b>推荐</h2>
      <div class="blogs">
        <figure><img src="{% static 'images/02.jpg' %}"></figure>
        <ul>
          <h3><a href="/">This template artilce</a></h3>
          <p>通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊 ...</p>
          <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
        </ul>
      </div>
      {% for article in article_list %}
        <div class="blogs">
        <figure><img src="{% static 'images/01.jpg' %}"></figure>
        <ul>
          <h3><a href="/article/?id={{ article.pk }}">{{ article.title }}</a></h3>
          <p>{{ article.desc }} ...</p>
          <p class="autor"><span class="lm f_l">{% for tag in article.tag.all %}<a href="/">{{ tag.name }}</a>&nbsp;{% endfor %}</span><span class="dtime f_l">{{ article.date_publish | date:'Y-m-d'}}</span><span class="viewnum f_r">浏览（<a href="/">{{ article.click_count }}</a>）</span><span class="pingl f_r">评论（<a href="/">{{ article.comment_set.all.count }}</a>）</span></p>
        </ul>
      </div>
      {% endfor %}
    </div>

    <div id="pagination">
        <ul id="pagination-flickr">
            {% if article_list.has_previous %}
                <li class="previous"  style="float:left;"><a href="?page={{ article_list.previous_page_number }}"><<上页</a></li>
            {% else %}
{#                <li class="previous-off"  style="float:left;"><<上页</li>#}
            {% endif %}

            <li class="active"  style="float:left;">{{ article_list.number }}/{{ article_list.paginator.num_pages }}</li>

            {% if article_list.has_next %}
                <li class="next"  style="float:left;"><a href="?page={{ article_list.next_page_number }}">下页>></a></li>
            {% else %}
{#                <li class="next-off"  style="float:left;">下页>></li>#}
            {% endif %}
        </ul>
    </div>
{% endblock %}